/*
ul.tagcloud { list-style: none;  padding: 0; width: 140px; float:right;}  
ul.tagcloud{
    right: -150px;
    top: 250px;
    position: absolute;
    width: 140px;
    background: white; 
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;  
}*/

ul.tagcloud {
  list-style: none;
    padding: 0;
}

ul.tagcloud li {
    display: inline-block;
}

li.tag-0 {
    font-size: 150%;
}

li.tag-1 {
    font-size: 125%;
}

li.tag-2 {
    font-size: 110%;
}

/* ... add li.tag-3 etc, as much as needed */

ul.tagcloud .list-group-item span.badge {
    background-color: grey;
    color: white;
}
