<!-- ul.tagcloud { list-style: none;  padding: 0;} -->
ul.tagcloud{
    right: -150px;
    top: 250px;
    position: absolute;
    width: 140px;
    background: white;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;  
}

ul.tagcloud li {
    display: inline-block;
}

li.tag-0 {
    font-size: 150%;
}

li.tag-1 {
    font-size: 120%;
}

